<html>
    <head>
        <script src="lib/plotly.js"></script>
        <script>

            window.onload = async () => {
                const response = await fetch("/readings_plotly");
                const response_data = await response.json();

                Plotly.newPlot('plotly', response_data);
            }

        </script>
        <title>Home Page for Steal Example app</title>
    </head>
    <body>
        <h1>Welcome to 4839 Hazel Ave</h1>
        <p>Here we will do great things</p>
        <div id="plotly"></div>
    </body>
</html>
